<div class="row">
	<h1 class="col-xs-6 col-xs-offset-3" align="center">
		Hello, world! It's home page!
	</h1>

	<a href="#" type="button" class="btn btn-primary col-xs-4 col-xs-offset-4">Поиск яхты</a>
	<a href="#" type="button" class="btn btn-default col-xs-4 col-xs-offset-4">Я судоводитель</a>

</div>