/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require_tree .
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors-variables";

body {
	color: $darkblue_text;
}

.btn {
	border: none;
}

.btn-primary {
	background-color: $darkblue;
	color: $white;
	&:hover {
		background-color: $darkblue_hover;
	}
}

.btn-default {
	border: 1px solid $darkblue;
	background-color: $white;
	color: $darkblue;
	&:hover {
		color: $darkblue;
		border: 1px solid $darkblue;
		background-color: $white_hover;
	}
}

a, .dropdown-item, .btn-link {
	color: $darkblue;
	&:hover {
		color: $darkblue_hover;
	}
}

.taxsea_logo {
	font-family: 'Franklin Gothic Medium Cond', arial;
	font-weight: bold;
}

.lightblue {
	color: $lightblue;
}

.dropdown-menu > li > a {
	color: $darkblue;
	&:hover {
		color: $darkblue;
		background-color: $white_hover;
	}
}

@media screen and (max-width: 767px) {
	.container {
		padding: 80px 20px;
	}

	.nav-container {
		position: fixed;
		width: 100%;
		padding: 0 10px;
		box-shadow: 1px 1px 5px 1px #dadada;
		background-color: white;
		z-index: 1000;
	}
}