<li class="boat-unit row">
	<div class="col-xs-3 col-xs-offset-4">
		Name: <%= boat.name %><br>
		Capacity: <%= boat.capacity %> persons
	</div>
	<ul class="col-xs-3 boat-services">
		<li>Walking: $200 per hour</li>
		<li>Fishing: $100 per hour</li>
		<li>Celebrating: $1200 per night</li>
	</ul>
	<div class="col-xs-2">
		<%= link_to "Смотреть", boat_path(boat.id), class: "btn btn-primary", type: "button" %>
	</div>
</li>