<h1><%= @boat.name %></h1>
<div class="row">
	<div class="col-xs-3 col-xs-offset-6">
		<span class="mini-header">Capacity:</span> <%= @boat.capacity %> persons
	</div>
	<div class="col-xs-3">
		<span class="mini-header">Services:</span>
		<ul class="boat-services">
			<li>Walking: $200 per hour</li>
			<li>Fishing: $100 per hour</li>
			<li>Celebrating: $1200 per night</li>
		</ul>
	</div>
	
</div>